@model cong.Models.Product

<h2>Product Details</h2>
<div>
    <h4>Name: @Model.Name</h4>
    <h4>Price: @Model.Price</h4>
    <h4>Description: @Model.Description</h4>
</div>
<a asp-action="Index">Back to List</a>