@model IEnumerable<cong.Models.Category>
<h2>Category List</h2>
<a asp-page="/Category/AddC" class="btn btn-success mb-2">Add Category</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NameC</td>
                <td>
                    <a asp-page="/Category/UpdateC" asp-route-id="@item.IdC" class="btn btn-sm btn-primary">Update</a>
                    <a asp-page="/Category/DeleteC" asp-route-id="@item.IdC" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>